* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
html {
    scroll-behavior: smooth;
}

:root {
    --color-titulo: #D1D5DB;
    --color-texto-normal: #D1D5DB;
    --color-texto-destacado: #FACC15;
    --color-borde-boton: rgba(225, 213, 213, 0.855);
}

body {
    font-family: 'Geist Mono', 'JetBrains Mono';
    background: radial-gradient(circle at 50% 30%,
            #10203f 0%,
            #0b132b 40%,
            #050816 100%);
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color:#A5B4FC;
}
header,
main {
    padding-left: 12px;
    padding-right: 12px;
}


.navbar {
    position: sticky;
    top: 0;
    z-index: 1000;
    width: 100%;
    background: rgb(27, 40, 95);
    padding: 12px 0;
}
.titulo-principal{
    margin-top: 25px;
    text-align: center;
}
.menu {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    margin: 0;
    padding: 0;
}

.menu li {
    text-align: center;
    border-right: 1px solid rgba(255, 255, 255, 0.6);
}

.menu li:last-child {
    border-right: none;
}

.menu a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 4px 6px;
}

section {
    scroll-margin-top: 80px;
}

.parrafo-sobre-mi {
    margin: 12px;
}

h1,
h2,
h3 {
    color: var(--color-titulo)
}

p {
    color: var(--color-texto-normal)
}

time {
    color: gray
}

section {
    margin-top: 25px;
    margin: 40px auto 40px auto;
}

nav {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.icono-titulo {
    max-width: 24px;
    max-height: 24px;
    filter: invert(1);
}

.contenedor-titulo {
    display: flex;
    align-items: center;
    gap: 10px;
}


.contenedor-titulo-experiencia {
    margin-bottom: 18px;
    margin-top: 18px;
}



.item-experiencia {
    border: 3px solid white;
    border-radius: 15px;
    text-align: justify;
    padding: 0px 20px 17px 20px;
    width: 100%;
    max-width: 380px;
    margin: 25px auto 40px auto;
}

.item-experiencia:hover {
    box-shadow:
        0 0 35px rgba(255, 255, 255, 0.4),
        0 0 70px rgba(255, 255, 255, 0.2);
}
img{
    border-radius: 5px;
}
.img-experiencia {
    width: 100%;
    max-width: 320px;
    height: auto;
}

.white-icon {
    filter: invert(1);
}


.proyecto{
    margin: 40px auto 40px auto;
    padding: 0px 10px 0px 10px;
    text-align: justify;
    border: 3px solid rgba(255, 255, 255, 0.25);
    border-radius: 15px;
    padding: 18px 20px 17px 20px;
    transition: transform 0.2s ease, border-color 0.2s ease;
}
.proyecto:hover{
    transform: translateY(-8px);
    border-color: rgba(255, 255, 255, 0.6);
}

.contenedor-titulo-proyecto {
    text-align: center;
    margin-bottom: 13px;
}

.titulo-proyecto,
.etiqueta-tecnologias {
    text-align: center;
}
.etiqueta-tecnologias{
    margin-top: 5px;
    color: #676e83ea;
}

.link-repositorio{
    display: block;
    border-radius: 5px;
    border: 2px solid var(--color-borde-boton);
    text-align: center;
    width: fit-content;
    margin: 15px auto 3px auto;
    padding: 10px;
    background-color: #2564eb33;
    color: white;
    text-decoration: none;
}
.link-repositorio:hover{
    background-color: #2564eb7d;
}
.link-repositorio:active{
    background-color: blue;
}
